html,body {
    height: 100%;
    width: 100%;
    margin: 0;
}
#ttl{
    font-weight: 800px;
}
#ttlframe{
    background-color: antiquewhite;
}
#slogan{
    font-variant:normal;
    font-style: italic;
    font-size: large;
}
h2{
    font-size: large;
    color: blue;
}
h1{
    font-size: x-large;
}
.info {
    font-size: medium;
    width: 50%;
}